mqtt:
  enabled: false

# go2rtc:
#   streams:
#     front_door:
#       - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.79:554/Streaming/Channels/202
#       - "ffmpeg:front_door#video=h265#audio=opus"

cameras:
  front_door:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.79:554/Streaming/Channels/101
          roles:
            - record
        - path: rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.79:554/Streaming/Channels/102
          roles:
            - detect
      # inputs:
      #   - path: rtsp://127.0.0.1:8554/front_door
      #     input_args: preset-rtsp-restream
      #     roles:
      #       - record

    motion:
      mask: 0.286,0.104,0.29,0.052,0,0.047,0.002,0.101
  front_gate:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.79:554/Streaming/Channels/202
          roles:
            - detect

    motion:
      mask: 0.289,0.095,0.293,0.056,0.001,0.058,0,0.097
  living_room:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.79:554/Streaming/Channels/302
          roles:
            - detect

    motion:
      mask: 0.288,0.059,-0.001,0.054,0,0.094,0.291,0.097
  kitchen:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.79:554/Streaming/Channels/402
          roles:
            - detect
    motion:
      mask: 0.289,0.104,0.291,0.056,0.001,0.054,0,0.092

# record is not enabled intentionally, since we're not using frigate for event recording for now.
record:
  enabled: false

detect:
  # Half the resolution of the stream used for detection
  width: 320
  height: 180
  # Disable this for now since it's taking up some amount of GPU
  enabled: true

detectors:
  coral:
    type: edgetpu
    device: usb

version: 0.15-1
